/* GLOBAL RESETS */

ul {
    margin: 0;
}

ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {
  font-weight: bold;
  line-height: 60px;
  font-size: 25px;
  letter-spacing: -1px;
  margin-top: 0;
    text-shadow: 1px 1px 0px #14181e;
}
h2 {
  font-size: 31.5px;
    text-shadow: 1px 1px 0px #2e333b;
}
#header-strip {
  height: 70px;
  padding: 10px;
    color: #9a9da1;
    background: #2e333b url('img/header_bg.png');
}

#main-container {
  background: url('img/mottled.png');
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  #main-container {
    height: 914px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  #main-container {
    height: 658px;
  }
}

#side-panel {
  width: 30%;
  height: 100%;
  float:left;
    color: #9a9da1;
    background: #384658 url('img/sidepanel_bg.png') top left repeat-x;
}
#map {
  width: 70%;
  height: 100%;
  float:left;
}

#modal-disabler {
  display:none;
}
#modal-container {
  display:none;
    padding: 20px;
    border-radius: 10px;
}

.login{
    color: #95979b;
}

.login form{
    padding:0;
    margin: 0;
}

.fields input{
    width: 300px;
}

ul.fields{
    margin: 0 0 20px 0;
    padding: 0;
}


ul.fields li{
    margin: 0;
    padding: 0;
}

ul.fields li span{
    display: block;
}


#modal-disabler.active{
  display:block;
  position:absolute;
  top: 0;
  left: 0;
  height: 748px;
  width: 1024px;
  background-color: rgba(50,50,50, 0.8);
  z-index: 1000;
}
#modal-disabler.active #modal-container {
  display:block;
  background-color:white;
  height: 200px;
    width: 400px;
    margin: auto;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
      background: #2e333b url('img/bg_tile.png');
      border: 1px solid #50545a;

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* portrait */
  #modal-disabler.active {
    height: 1004px;
    width: 768px;
  }
}

.error {
  background-color: #F2DEDE;
}

.login.error{
  display: none;
}


.area-index {
  padding: 0;
}

#area-list {
  list-style-type: none;
  padding-left: 0;
}

#area-list > li {
border-top: 1px solid #5c6776;
  border-bottom: 1px solid #2e333b;
    padding: 10px;
  margin-bottom: 0;
}

#area-list li:first-child{
    border-top: none;
}

#area-list li:last-child{
    border-bottom: none;
}

#area-list ul.attributes {
  list-style-type: none;
  padding-left: 5px;
}
#area-list ul.attributes li span{
  float:right;
}
